
@{
    ViewData["Title"] = "Contato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contatos</h2>
<h4>Entre em contato com os desenvolvedores!</h4>
<p></p>
<p></p>
<p></p>
<h3>Edmar Lucas</h3>
<p><i class="fa fa-linkedin-square "></i><b> Linkedin: </b><a href="https://www.linkedin.com/in/edmar-lucas-ri%C3%A7as-053755214/" target="_blank"> https://www.linkedin.com/in/edmar-lucas-ri%C3%A7as-053755214/ </a></p>
<p><i class="fa fa-github"></i><b> GitHub: </b><a href="https://github.com/edmar2020" target="_blank">https://github.com/edmar2020 </a> </p>
<p><i class="fa fa-envelope"></i><b> Email: </b> edmarlucas62@gmail.com </p>
<p></p>
<h3>Eduardo Lima</h3>
<p><i class="fa fa-linkedin-square "></i><b> Linkedin:</b> <a href="https://www.linkedin.com/in/eduardo-lima-6691291bb/" target="_blank">https://www.linkedin.com/in/eduardo-lima-6691291bb/</a></p>
<p><i class="fa fa-github"></i><b> GitHub: </b> <a href="https://github.com/eduardoolima" target="_blank">https://github.com/eduardoolima</a> </p>
<p><i class="fa fa-envelope"></i><b> Email: </b> eduardoolimaprog@gmail.com </p>
<p></p>
<h3>Jeander Santos</h3>
<p><i class="fa fa-github"></i><b> GitHub: </b><a href="https://github.com/Jeander2001" target="_blank">https://github.com/Jeander2001 </a> </p>
<p><i class="fa fa-envelope"></i><b> Email:</b> jeander2001@gmail.com</p>
<p></p>
<h3>Leônidas Chersoni</h3>
<p><i class="fa fa-linkedin-square "></i><b> Linkedin: </b><a href="https://linkedin.com/in/leônidas-chersoni-0b1614214" target="_blank"> https://linkedin.com/in/leônidas-chersoni-0b1614214 </a></p>
<p><i class="fa fa-github"></i><b> GitHub: </b><a href="https://github.com/leonidasc019" target="_blank"> https://github.com/leonidasc019 </a></p>
<p><i class="fa fa-envelope"></i><b> Email: </b>  leonidas19992011@hotmail.com</p>
<p></p>
<div class="col-5">
    <a asp-area="" asp-controller="AnimalDoador" asp-action="Index" class="btn btn-outline-dark">Voltar</a>
</div>
